@model DataCordonBleu_Framework.Models.Stuffer
@{
    ViewBag.Title = "Success";
    string imgPath = "/Exports/" + Model.FileName + ".png";
}

<h2>Success</h2>
<h3>Your message was successfully encoded into the image</h3>
<span>To save your encoded image click "Download Image". Next, right click on the image and select 'Save Image As...'</span>
<div>
    <a href="@imgPath">Download Image</a>
    <img src="@imgPath" />
</div>