@{
    ViewBag.Title = "About Data CordonBleu";
}
<h2>@ViewBag.Title</h2>

<p>This a steganography application built by Alexander Nielson for Dr. David Beard's INFO 4488 course at Idaho State University.</p>
