@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Data CordonBleu</h1>
    <p class="lead">This is ASP.NET steganography application. It has the capability to encode and decode messages in images. </p>
    <p>To get started please select one of the following options.</p>
    <p>@Html.ActionLink("Instructions", "Index", "Instruction", null, new { @class="btn btn-primary btn-lg"})</p>
    <p>@Html.ActionLink("Encode", "Index", "Encode", null, new { @class="btn btn-primary btn-lg"})</p>
    <p>@Html.ActionLink("Decode", "Index", "Decode", null, new { @class="btn btn-primary btn-lg"})</p>
</div>